//colors variables
$body-background-color: #F8A93A;
$form-background-color: #F8A93A;
$input-color: white;
$headlines-color: #D62828;

//set breakpoints sizes
$break-small: 20rem;
$break-medium: 35rem;
$break-large: 50rem;

@mixin breakpoint($break) {
    @if $break == large {
        @media (max-width: $break-large) { width: 100% }
    }
    @else if $break == medium {
        @media (max-width: $break-medium) { width: 100% }
    }
    @else if $break == small {
        @media (max-width: $break-small) { width: 100% }
    }
    @else {
        @media ($break) { @content }
    }
}


body {
    background-color: $body-background-color;
}

#contactform {
    background-color: $form-background-color;
    input,
    textarea {
        background-color: $input-color;
        flex: 2;
    }
    @include breakpoint(large);
    @include breakpoint(medium);
    @include breakpoint(small);
}