@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

//color variables
$blue: #6495ed;
$cream: #faebd7;
$beige: #deb887;

//fonts variables
$body-font: Helvetica, Arial, sans-serif;
$header-font: "Lora", serif;

//mixins
@mixin center {
  width: 90%;
  margin: auto;
}

//Body Variables
body {
  font-size: 16px;
  font-family: $body-font;
  margin: 0;

  div {
    display: block;
    margin: auto;
  }

  h1, h2 {
  font-family: $header-font;
  }
}

//Navigation
header {
  background-color: $blue;
  padding: 2rem;
  margin: 0;
  text-align: end;

  h1 {
    color: $cream;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  
    nav ul li {
      padding-top: 0.75rem;
    }
  }
}

/*LINKS*/
a {
  text-decoration: none;
}
a:active {
  color: $beige;
}
a:hover {
  text-decoration: underline;
}

header {
  a:link, a:visited {
    color: $cream;
  }
  a:hover {
    color: white;
  }
}

h2 {
  a:link, a:visited {
    color: black;
  }
  a:hover {
    color: $blue;
  }
}

p {
  a:link, a:visited {
    color: $blue;
  }
}

/*MAIN CONTENT*/
div.post-date {
  margin-bottom: -1rem;
}

main {
  background-color: $cream;
  width: 100%;
  padding: 1px;
  margin: 0;
}

article {
  display: block;
  background-color: white;
  padding: 2rem;
  margin: 2rem 1rem;
  box-shadow: 3px 3px 3px rgb(190, 190, 190);
}

figure img {
  display: flex;
  padding-top: 2rem;
  @include center;
}

/*LARGE DISPLAY*/
@media only screen and (min-width: 50rem) {
  div {
    max-width: 55rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  article {
    padding: 2rem;
    margin: 3rem 4rem;
  }

  figure img {
    width: 60%;
  }
}
